body {
  margin: 0;
  background-image: url(cityscape.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

#clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  backdrop-filter: blur(5px);
  background-color: rgba(93, 89, 89, 0.26);
  width: 400px;
  color: rgb(211, 211, 211);
}
